# Python specific
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/  # Jika ada virtual environment lain di folder .venv

# Environment variables
.env
.env/
.env.local
.env.*.local

## Sensitive files
certs/       # Mengabaikan seluruh folder certs
*.key
*.pem
*.crt

# VS Code specific
.vscode/    # Jika ada pengaturan VS Code yang sangat spesifik atau lokal yang tidak ingin di-share